<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/logo500.png" type="image/x-icon">
    <title>Administracion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/icofont.min.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/administracion.css">
</head>
<body>
    <div id="app">
        <div v-if="loading" class="container-spinner">
            <div class="spinner-border spinner-general" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1b5702;">
            <div class="container-fluid">
                <a class="navbar-brand" href="./principal.html">
                    <img src="../images/logo500t.png" alt="" class="logo-header">
                    Calendario Escolar
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="./principal.html">
                                <span class="icofont-home"></span>
                                Inicio
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active">
                                <span class="icofont-automation"></span>
                                Administracion
                            </a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <div class="nav-item dropdown containerPerfil">
                            <div class="dropdown-toggle text-light" data-bs-toggle="collapse" href="#collapsePerfil" role="button" aria-expanded="false" aria-controls="collapsePerfil">
                                <span class="icofont-user-alt-7 userIconPerfil"></span>
                                {{ apodo }}
                            </div>
                        </div>
                        <div class="collapse subPerfil" id="collapsePerfil">
                            <div class="card card-body">
                                <div>
                                    <span class="icofont-user-alt-4"></span>
                                    <span>{{ apodo }}</span>
                                </div>
                                <hr>
                                <button class="btn btn-outline-success btnPerfil" type="button">
                                    <span class="icofont-refresh"></span>
                                    Refrescar perfil
                                </button>
                                <button class="btn btn-outline-warning btnPerfil" type="button">
                                    <span class="icofont-pencil-alt-2"></span>
                                    Editar perfil
                                </button>
                                <button class="btn btn-outline-danger btnPerfil" type="button" @click="closeSession">
                                    <span class="icofont-power"></span>
                                    Cerrar Sesion
                                </button>
                                <div>
                                    <div class="btnClose" data-bs-toggle="collapse" href="#collapsePerfil" role="button" aria-expanded="false" aria-controls="collapsePerfil">Cerrar</div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="navbarSupportedContent" class="collapse slider-menu">
                <div class="background-slider"  data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></div>

                <h4 class="fw-bold">Calendario escolar</h4>
                <span class="icofont-close-circled close-slider"  data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></span>
                <div class="icofont-user-alt-3 logo-slider"></div>
                <div class="text-center fs-5 fw-bold">{{ apodo }}</div>

                <div class="text-center mb-5">
                    <button class="btn btn-outline-success" type="button">
                        <span class="icofont-refresh"></span>
                    </button>
                    <button class="btn btn-outline-warning" type="button">
                        <span class="icofont-pencil-alt-2"></span>
                    </button>
                </div>
                <div class="list-group">
                    <a href="./principal.html" class="list-group-item list-group-item-action">
                        <span class="icofont-home"></span>
                        Inicio
                    </a>
                    <a class="list-group-item list-group-item-action active">
                        <span class="icofont-automation"></span>
                        Administracion
                    </a>
                </div>
                
                <div class="container-close">
                    <button class="btn btn-outline-danger btnPerfil" type="button" @click="closeSession">
                        <span class="icofont-power"></span>
                        Cerrar Sesion
                    </button>
                </div>
            </div>
        </nav>

        <div class="container-xxl">
            <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="listtasks-tab" data-bs-toggle="tab" data-bs-target="#listtasks" type="button" role="tab" aria-controls="listtasks" aria-selected="true">
                        <span class="icofont-tasks-alt"></span>
                        Lista de actividades
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="tasks-tab" data-bs-toggle="tab" data-bs-target="#tasks" type="button" role="tab" aria-controls="tasks" aria-selected="false">
                        <span class="icofont-sub-listing"></span>
                        Actividades
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="areas-tab" data-bs-toggle="tab" data-bs-target="#areas" type="button" role="tab" aria-controls="areas" aria-selected="false">
                        <span class="icofont-ui-clip-board"></span>
                        Areas
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="users-tab" data-bs-toggle="tab" data-bs-target="#users" type="button" role="tab" aria-controls="users" aria-selected="false">
                        <span class="icofont-ui-user-group"></span>
                        Usuarios
                    </button>
                </li>
            </ul>
            <div class="tab-content p-3" id="myTabContent">
                <div class="tab-pane mt-3 fade" id="listtasks" role="tabpanel" aria-labelledby="listtasks-tab">
                    <div v-if="statusMasterTask === 0">
                        <table class="table table-striped table-sm table-bordered table-responsive ">
                            <thead class="thead-dark">
                                <tr class="table-dark">
                                    <th>Titulo</th>
                                    <th>Publica</th>
                                    <th>Creada</th>
                                    <th>Creada por</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(master, indexMaster) in masterTaskRefactor" :key="indexMaster">
                                    <td>{{ master.titulo_master_task }}</td>
                                    <td>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" :id="'publicaMaster' + indexMaster" :checked="master.publicada_master_task" @click="updatePublicaMasterTask(master)">
                                            <label class="form-check-label" :for="'publicaMaster' + indexMaster">{{ refactorStatus(master.publicada_master_task) }}</label>
                                        </div>
                                    </td>
                                    <td>{{ formatDate(master.fecha_creada_master_task, true) }}</td>
                                    <td>{{ master.creada_por_master_task.correo }}</td>
                                    <td>
                                        <button class="btn btn-primary mb-1" type="button" @click="detailsMasterTask(master)">
                                            <span class="icofont-eye-alt"></span>
                                        </button>
                                        <button class="btn btn-warning mb-1" type="button" @click="editMasterTask(master)">
                                            <span class="icofont-pencil-alt-2"></span>
                                        </button>
                                        <button class="btn btn-danger mb-1" type="button" @click="deleteMasterTask(master.UUID_master_task)">
                                            <span class="icofont-ui-delete"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div v-else-if="createEditMasterTask" class="card">
                        <div class="card-header">
                            <div class="float-start cursor-pointer" @click="listMasterTask">
                                <span class="icofont-simple-left"></span>
                                Regresar
                            </div>
                            <div class="float-end fw-bold">{{ descriptionActionMasterTask }}</div>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Titulo lista:</label>
                                <input type="text" v-model="masterTaskActualEdit.titulo_master_task" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese titulo de lista">
                            </div>
                            <div class="form-check form-switch d-inline-block">
                                <input class="form-check-input" v-model="masterTaskActualEdit.publicada_master_task" type="checkbox" role="switch" id="checkPublicaNew">
                                <label class="form-check-label" for="checkPublicaNew">Publica</label>
                            </div>
                            <button class="btn btn-info text-white p-0 fs-5 px-2 ms-2" type="button">
                                <span class="icofont-question-circle"></span>
                            </button>
                            <div v-if="statusMasterTask === 1" class="mt-3">
                                <button class="btn btn-success float-end" type="button" @click="createMasterTask">
                                    <span class="icofont-ui-add"></span>
                                    Crear lista maestro
                                </button>
                            </div>
                            <div v-else class="mt-3">
                                <button class="btn btn-primary float-end" type="button" @click="updateMasterTask">
                                    <span class="icofont-bubble-right"></span>
                                    Guardar cambios
                                </button>
                            </div>
                        </div>
                    </div>

                    <div v-else class="card">
                        <div class="card-header">
                            <div class="float-start cursor-pointer" @click="listMasterTask">
                                <span class="icofont-simple-left"></span>
                                Regresar
                            </div>
                            <div class="float-end fw-bold">Detalles de la lista maestro</div>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <span class="fw-bold">UUID_Lista_Maestro:</span>
                                {{ masterTaskActual.UUID_master_task }}
                                <hr class="mt-1">
                            </div>
                            <div class="mb-3">
                                <span class="fw-bold">Titulo:</span>
                                {{ masterTaskActual.titulo_master_task }}
                                <hr class="mt-1">
                            </div>
                            <div class="mb-3">
                                <span class="fw-bold">Creada:</span>
                                {{ formatDate(masterTaskActual.fecha_creada_master_task, true) }}
                                <hr class="mt-1">
                            </div>
                            <div class="mb-3">
                                <span class="fw-bold">Creada por:</span>
                                {{ masterTaskActual.creada_por_master_task.correo }}
                                <hr class="mt-1">
                            </div>
                            <div class="mb-3">
                                <span class="fw-bold">Actualizada:</span>
                                {{ formatDate(masterTaskActual.fecha_modificada_master_task, true) }}
                                <hr class="mt-1">
                            </div>
                            <div class="mb-3">
                                <span class="fw-bold">Actualizada por:</span>
                                {{ masterTaskActual.modificada_por_master_task.correo }}
                                <hr class="mt-1">
                            </div>
                            <div class="mt-5">
                                <div class="form-check form-switch float-start">
                                    <input class="form-check-input" type="checkbox" role="switch" id="checkPublicaNew" :checked="masterTaskActual.publicada_master_task" disabled>
                                    <label class="form-check-label" for="checkPublicaNew">{{ refactorStatus(masterTaskActual.publicada_master_task) }}</label>
                                </div>
                                <button class="btn btn-warning float-end" type="button" @click="editMasterTask(masterTaskActual)">
                                    <span class="icofont-pencil-alt-2"></span>
                                    Editar
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <span class="icofont-refresh float-button float-btn-second"  :style="styleFloatMaster" @click="loadListTasks"></span>
                    <span class="icofont-ui-add float-button float-btn-load" :style="styleFloatMaster" @click="newMasterTask"></span>
                    <span class="float-button" :class="iconMasterTaskFloat" @click="showOptionsMasterClick"></span>
                </div>
                <div class="tab-pane mt-2 fade show active" id="tasks" role="tabpanel" aria-labelledby="tasks-tab">
                    <div v-if="statusTask === 0" class="input-group mb-3">
                        <span class="input-group-text icofont-tasks-alt fs-3"></span>
                        <select v-model="idMasterSelected" class="form-select" aria-label="Default select example">
                            <option value="null">Elija una lista maestro</option>
                            <option v-for="(maestro, indexMaestro) in masterTaskRefactor" :key="indexMaestro" :value="maestro.UUID_master_task">{{ maestro.titulo_master_task }}</option>
                        </select>
                        <span class="input-group-text bg-info text-white icofont-search-2 fs-5" @click="searchListTaskByIdMaster"></span>
                    </div>
                    <div v-if="statusTask === 0" class="h5 mb-3">{{ nameMasterTask }}</div>
                    <table v-if="statusTask === 0" class="table table-striped table-sm table-bordered table-responsive">
                        <thead class="thead-dark">
                            <tr class="table-dark">
                                <th>Lista maestro</th>
                                <th>Actividad</th>
                                <th>Estatus</th>
                                <th>Observaciones</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(task, indexTask) in listTaskByIdMasterRefactor" :key="indexTask">
                                <td>{{ task.id_master_task.titulo  }}</td>
                                <td>{{ task.descripcion_task }}</td>
                                <td>{{ task.estatus_task }}</td>
                                <td>{{ task.observaciones_task }}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <div v-else class="card">
                        <div class="card-header">
                            <div class="float-start cursor-pointer" @click="statusTask = 0">
                                <span class="icofont-simple-left"></span>
                                Regresar
                            </div>
                            <div class="float-end fw-bold">{{ titleCardArea }}</div>
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <span class="input-group-text icofont-tasks-alt fs-3"></span>
                                <select v-model="taskNew.idMaster" class="form-select">
                                    <option value="null">Elija una lista maestro</option>
                                    <option v-for="(maestro, indexMaestro) in masterTaskRefactor" :key="indexMaestro" :value="maestro.UUID_master_task">{{ maestro.titulo_master_task }}</option>
                                </select>
                            </div>
                            <div class="form-check form-switch">
                                <input v-model="taskNew.rangoFechas" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Fecha especifica</label>
                            </div>
                            <div v-if="taskNew.rangoFechas" class="card mb-2">
                                <div class="card-body">
                                    <div class="container-sm">
                                        <div class="row">
                                            <div class="col col-dates">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">Inicio</span>
                                                    <input type="date" class="form-control" placeholder="FechaInit" aria-label="FechaInit" aria-describedby="basic-addon1">
                                                </div>
                                            </div>
                                            <div class="col col-dates">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">Termino</span>
                                                    <input type="date" class="form-control" placeholder="FechaInit" aria-label="FechaInit" aria-describedby="basic-addon1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div v-else class="card mb-2">
                                <div class="card-body">
                                    <div class="input-group mb-2">
                                        <span class="input-group-text">Año</span>
                                        <select v-model="taskNew.year" class="form-select">
                                            <option v-for="(yearTast, indexYear) in arrayYearTasks" :key="indexYear" :value="yearTast">{{ yearTast }}</option>
                                        </select>
                                    </div>

                                    <div class="container-box">
                                        <span class="title-box">Meses</span>
                                        <span v-for="(mes, indexMes) in meses" class="badge border border-info p-2 m-1" :class="daySelected(mes)" @click="setSelectedMonth(mes)">
                                            {{ mes.mesLetra }}
                                            <span class="ml-2" :class="{'icofont-close-circled': mes.select, 'icofont-plus-circle': !mes.select}"></span>
                                        </span>
                                    </div>
                                    <div class="container-box">
                                        <span class="title-box">Dias</span>
                                        <span v-for="(dia, indexDay) in dias" class="badge border border-info p-2 m-1" :class="daySelected(dia)" @click="setSelectedDay(dia)">
                                            {{ dia.day }}
                                            <span class="ml-2" :class="{'icofont-close-circled': dia.select, 'icofont-plus-circle': !dia.select}"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="input-group mb-2">
                                <span class="input-group-text">Area</span>
                                <select v-model="taskNew.area" class="form-select">
                                    <option value="null">Seleccione area</option>
                                    <option v-for="(area, indexArea) in areasRefactor" :key="indexArea" :value="area.UUID_area">{{ area.nombre_area }}</option>
                                </select>
                            </div>
                            <div class="mb-2">
                                <label for="exampleFormControlTextarea1" class="form-label">Descripcion de la actividad:</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Titulo o descripcion de la actividad"></textarea>
                            </div>
                            <div class="mb-2">
                                <label for="exampleFormControlTextarea1" class="form-label">Observaciones:</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Observaciones extras de la actividad"></textarea>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Actividad activa</label>
                            </div>

                            <div>
                                <button class="btn btn-primary float-end" type="button">Agregar</button>
                            </div>
                        </div>
                    </div>

                    <span class="icofont-refresh float-button float-btn-second"  :style="styleFloatTasks" @click="reloadListTaskByIdMaster"></span>
                    <span class="icofont-ui-add float-button float-btn-load" :style="styleFloatTasks" @click="newTask"></span>
                    <span class="float-button" :class="iconTasksFloat" @click="showOptionsTasksClick"></span>
                </div>
                <div class="tab-pane mt-2 fade" id="areas" role="tabpanel" aria-labelledby="areas-tab">Areas</div>
                <div class="tab-pane mt-2 fade" id="users" role="tabpanel" aria-labelledby="users-tab">Usuarios</div>
            </div>
        </div>

        <button ref="btnAlert" type="button" class="btn btn-primary invisible" data-bs-toggle="modal" data-bs-target="#modalAlert">
            Launch demo modal
        </button>

        <div id="modalAlert" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-white" :class="backgroundHeader">
                <h5 class="modal-title">{{ alert.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark">
                <p>{{ alert.message }}</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar</button>
                </div>
            </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="../scripts/administracios.js"></script>
</body>
</html>