<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/logo500.png" type="image/x-icon">
    <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/icofont.min.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/principal.css">
</head>
<body>
    <div id="app">
        <div v-if="loading" class="container-spinner">
            <div class="spinner-border spinner-general" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1b5702;">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <img src="../images/logo500t.png" alt="" class="logo-header">
                    Calendario Escolar
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page">
                                <span class="icofont-home"></span>
                                Inicio
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./maestroactividades.html">
                                <span class="icofont-tasks-alt"></span>
                                Maestro Actividades
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./actividades.html">
                                <span class="icofont-sub-listing"></span>
                                Actividades
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="icofont-ui-clip-board"></span>
                                Areas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="icofont-users"></span>
                                Usuarios
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="icofont-user-alt-4"></span>
                                Perfil
                            </a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <div class="nav-item dropdown containerPerfil">
                            <div class="dropdown-toggle text-light" data-bs-toggle="collapse" href="#collapsePerfil" role="button" aria-expanded="false" aria-controls="collapsePerfil">
                                <span class="icofont-user-alt-7 userIconPerfil"></span>
                                {{ apodo }}
                            </div>
                        </div>
                        <div class="collapse subPerfil" id="collapsePerfil">
                            <div class="card card-body">
                                <div>
                                    <span class="icofont-user-alt-4"></span>
                                    <span>{{ apodo }}</span>
                                </div>
                                <hr>
                                <button class="btn btn-outline-success btnPerfil" type="button">
                                    <span class="icofont-refresh"></span>
                                    Refrescar perfil
                                </button>
                                <button class="btn btn-outline-warning btnPerfil" type="button">
                                    <span class="icofont-pencil-alt-2"></span>
                                    Editar perfil
                                </button>
                                <button class="btn btn-outline-danger btnPerfil" type="button" @click="closeSession">
                                    <span class="icofont-power"></span>
                                    Cerrar Sesion
                                </button>
                                <div>
                                    <div class="btnClose" data-bs-toggle="collapse" href="#collapsePerfil" role="button" aria-expanded="false" aria-controls="collapsePerfil">Cerrar</div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="navbarSupportedContent" class="collapse slider-menu">
                <div class="background-slider"  data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></div>

                <h4 class="fw-bold">Calendario escolar</h4>
                <span class="icofont-close-circled close-slider"  data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></span>
                <div class="icofont-user-alt-3 logo-slider"></div>
                <div class="text-center fs-5 fw-bold">{{ apodo }}</div>

                <div class="text-center mb-5">
                    <button class="btn btn-outline-success" type="button">
                        <span class="icofont-refresh"></span>
                    </button>
                    <button class="btn btn-outline-warning" type="button">
                        <span class="icofont-pencil-alt-2"></span>
                    </button>
                </div>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action active">
                        <span class="me-2 icofont-home"></span>
                        Inicio
                    </a>
                    <a href="./maestroactividades.html" class="list-group-item list-group-item-action">
                        <span class="me-2 icofont-tasks-alt"></span>
                        Maestro Actividades
                    </a>
                    <a href="./actividades.html" class="list-group-item list-group-item-action">
                        <span class="me-2 icofont-sub-listing"></span>
                        Actividades
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <span class="me-2 icofont-ui-clip-board"></span>
                        Areas
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <span class="me-2 icofont-users"></span>
                        Usuarios
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <span class="me-2 icofont-user-alt-4"></span>
                        Perfil
                    </a>
                </div>
                
                <div class="container-close">
                    <button class="btn btn-outline-danger btnPerfil" type="button" @click="closeSession">
                        <span class="icofont-power"></span>
                        Cerrar Sesion
                    </button>
                </div>
            </div>
        </nav>

        <div ref="taskNext" class="taskNext">
            <div ref="backgroundTaskNext" class="backgroundTaskNext" @click="closeTaskNext"></div>
            <div v-if="widthWindow < 992" class="arrow-task" :class="isShowed" @click="showTaskNext"></div>
            <h5 class="title-tasks bg-light">
                Actividades proximas
                <button class="btn btn-outline-success p-1" type="button" @click="loadTask">
                    <span class="icofont-refresh"></span>
                </button>
            </h5>
            <div class="container-task">
                <div v-for="(taskNext, nextIndex) in taskProximas" class="container-task-list"  @click="setDetails(taskNext)">
                    <div class="title-task">{{ taskNext.descripcion_task }}</div>
                    <div class="date-task">{{ taskNext.next }}</div>
                </div>
            </div>
        </div>
        <div class="containerCalendar">
            <div class="time-date bg-light">
                <button class="btn btn-primary todaybtn" type="button" @click="changeMonth()">Hoy</button>
                <button class="btn btn-light btn-arrow-time" type="button" @click="changeMonth(-1)">
                    <div class="icofont-circled-left"></div>
                </button>
                <button class="btn btn-light btn-arrow-time" type="button" @click="changeMonth(1)">
                    <div class="icofont-circled-right"></div>
                </button>
                <span class="fw-bold">{{ monthAndYear }}</span>
            </div>
            <div class="calendar-dias">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col headerDia">{{ sunday }}</div>
                        <div class="col headerDia">{{ monday }}</div>
                        <div class="col headerDia">{{ tuesday }}</div>
                        <div class="col headerDia">{{ wednesday }}</div>
                        <div class="col headerDia">{{ thursday }}</div>
                        <div class="col headerDia">{{ friday }}</div>
                        <div class="col headerDia">{{ saturday }}</div>
                    </div>
                    <div v-for="(semana, indexS) in diasMesActual" :key="indexS" class="row">
                        <div v-for="(dia, indexD) in semana" :key="indexD" class="col itemDia" :class="bgDia(dia.dias, dia.diaMesEnd, dia.date)" :style="styleHeight" @click="viewListTask(dia.actividades, dia.date)">
                            <span :class="colorDia(dia.dias, dia.diaMesEnd, dia.date)">{{ dia.dia }}</span>
                            <div v-for="(task, indexT) in filterTasks(dia.actividades)" class="taskItem">
                                {{ task + '...' }}
                            </div>
                            <div v-if="dia.actividades.length > 3" class="countTask">{{ dia.actividades.length - 3 }}+</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="showListTask" class="container-listTask">
            <div class="card h-100">
                <div>
                    <h5 class="card-title pt-3 ps-3 float-start">{{ dayListTask }}</h5>
                    <span class="icofont-close float-end p-1 fs-3 mt-2 me-2 cursor-pointer" @click="showListTask = false"></span>
                </div>
                <hr class="m-0">
                <div class="card-body pt-0 overflow-auto">
                    <div v-for="(task, indexTaskL) in listTaskForDay" :key="indexTaskL" class="itemListTask" @click="setDetails(task)">
                        {{ task.descripcion_task }}
                    </div>
                </div>
            </div>
        </div>

        <div v-if="showDetails" class="container-details">
            <div class="card card-details">
                <div class="card-header fw-bold">
                    <div class="btn-close closeDetails" @click="closeDetails"></div>
                    Detalles de actividad
                </div>
                <div class="card-body card-details-body">
                    <h5 class="card-title">{{ detailsTask.descripcion_task }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ detailsTask.id_master_task.titulo }}</h6>
                    <div class="mb-2">
                        <span class="fw-bold">Año:</span> {{ detailsTask.year_task }}
                    </div>
                    <div v-if="detailsTask.rango_fechas_task">
                        <div class="fechas-predeterminadas">
                            <span class="fw-bold">Del:</span> {{ formatDate(detailsTask.fecha_inicial_task) }}
                        </div>
                        <div class="fechas-predeterminadas">
                            <span class="fw-bold">Al:</span> {{ formatDate(detailsTask.fecha_final_task) }}
                        </div>
                    </div>
                    <div v-else>
                        <div class="container-box">
                            <span class="title-box">Meses</span>
                            <span v-for="(mes, indexMes) in detailsTask.mes_task" :key="indexMes" class="badge bg-success m-1">{{ arrayMonths()[mes - 1] }}</span>
                        </div>
                        <div class="container-box">
                            <span class="title-box">Dias</span>
                            <span v-for="(dia, indexDia) in detailsTask.dias_task" :key="indexDia" class="badge bg-success m-1">{{ dia }}</span>
                        </div>
                    </div>
                    <div class="mt-3">
                        <span class="fw-bold">Area:</span> {{ detailsTask.para_area_task.nombre }}
                    </div>
                    <div class="mt-3 mb-5">
                        <span class="fw-bold">Observaciones:</span> {{ detailsTask.observaciones_task }}
                    </div>
                    <div class="status-task">{{ detailsTask.estatus_task }}</div>
                </div>
            </div>
        </div>
        
        <button ref="btnAlert" type="button" class="btn btn-primary invisible" data-bs-toggle="modal" data-bs-target="#modalAlert">
            Launch demo modal
        </button>

        <div id="modalAlert" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-white" :class="backgroundHeader">
                <h5 class="modal-title">{{ alert.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark">
                <p>{{ alert.message }}</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar</button>
                </div>
            </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="../scripts/principal.js"></script>
</body>
</html>