.container-box {
    position: relative;
    border: 1px solid #0b6200;
    padding: 12px;
    border-radius: 5px;
    margin-top: 15px;
}

.title-box {
    position: absolute;
    top: -13px;
    left: 10px;
    background: #ffffff;
    font-weight: bold;
}

.select-day {
    width: min-content;
}

@media screen and (max-width: 700px) {
    .col-dates {
        width: 100%;
    }
}

.statusTaskCard {
    float: right;
    font-style: italic;
    font-weight: bold;
}

.cardTaskPendiente {
    border-left: 5px solid #d6d300;
}

.cardTaskRealizada {
    border-left: 5px solid #0b6200;
}

.cardTaskCancelada {
    border-left: 5px solid #9c0500;
}
