.container-spinner {
    position: fixed;
    background: #ffffff83;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.spinner-general {
    width: 30px;
    height: 30px;
    margin-left: calc(50% - 15px);
    margin-top: calc(25% - 15px);
}

body{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: var(--light);
}

.logo-header {
    width: 30px;
    background: #fff;
    padding: 2px;
    border-radius: 5px;
}

.userIconPerfil {
    border: 2px solid #fff;
    border-radius: 100%;
    padding: 5px;
}

.containerPerfil {
    position: relative;
}

.subPerfil {
    position: absolute;
    top: 45px;
    right: 5px;
    width: 320px;
    z-index: 9;
}

.btnPerfil {
    width: 100%;
    margin-top: 10px;
}

.btnClose {
    cursor: pointer;
    margin-top: 20px;
    color: rgb(0, 26, 255);
    float: right;
    width: 60px;
}

.btnClose:hover {
    color: rgb(1, 6, 58);
}

.background-slider {
    position: fixed;
    top: 0px;
    left: 300px;
    width: calc(100% - 300px);
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.568);
}

.slider-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    width: 300px;
    height: 100%;
    background: #fff;
    z-index: 9;
}

.close-slider {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
}

.logo-slider {
    margin: auto;
    margin-top: 50px;
    font-size: 50px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    text-align: center;
}

.container-close {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    box-shadow: -6px 1px 10px 1px #000;
}

.float-button {
    position: fixed;
    bottom: 15pt;
    right: 15pt;
    z-index: 7;
    width: 45pt;
    height: 45pt;
    background: rgb(1, 112, 16);
    color: #fff;
    font-size: 25pt;
    border-radius: 100%;
    padding: 10pt 0pt 0pt 14px;
    cursor: pointer;
    box-shadow: 1px 3px 5px 1px rgb(112, 112, 112);
    transition-property: all;
    transition-duration: 0.3s;
}

.float-btn-load {
    bottom: 70pt;
    right: 20pt;
    width: 33pt;
    height: 33pt;
    font-size: 18pt;
    padding: 8pt 0pt 0pt 7pt;
    background: rgb(2, 138, 21);
    opacity: 1.0;
}

.float-btn-second {
    bottom: 110pt;
    right: 20pt;
    width: 33pt;
    height: 33pt;
    font-size: 18pt;
    padding: 8pt 0pt 0pt 7pt;
    background: rgb(0, 55, 138);
    opacity: 1.0;
}
