.taskNext {
    position: absolute;
    top: 58px;
    left: 0px;
    width: 245px;
    height: calc(100% - 58px);
    border-right: 1px solid rgb(182, 182, 182);
    transition-property: left;
    transition-duration: 1s;
    z-index: 8;
    background: #fff;
}

.backgroundTaskNext {
    background: rgba(0, 32, 8, 0.418);
    position: fixed;
    z-index: inherit;
    width: 100%;
    height: calc(100% - 58px);
    left: -100%;
    bottom: 0px;
    transition-property: all;
    transition-duration: 1s;
    opacity: 0.0;
}

.arrow-task {
    position: absolute;
    top: 10px;
    right: -50px;
    width: 50px;
    height: 40px;
    padding-right: 5px;
    text-align: end;
    font-size: 40px;
    color: #fff;
    background: rgb(1, 82, 78);
    border-radius: 0px 20px 20px 0px;
    border: 2px solid rgb(3, 194, 98);
    border-left: 0px;
    box-shadow: 2px 0px 3px 2px #c7c7c7cb;
    z-index: inherit;
}

.title-tasks {
    text-align: center;
    padding: 13px 0px;
    padding-top: 13px;
    margin-bottom: 0px;
    box-shadow: -1px 0px 8px 0px rgb(182, 182, 182);
}

.container-task {
    overflow-y: auto;
    height: calc(100% - 87px);
}

.container-task-list {
    padding: 5px 10px;
    border-bottom: 1px solid rgb(189, 189, 189);
}

.date-task {
    font-size: 13px;
    font-style: italic;
    text-align: end;
    color: rgb(65, 65, 65);
}

.title-task {
    font-weight: 500;
}

.containerCalendar {
    position: absolute;
    top: 58px;
    left: 245px;
    width: calc(100% - 245px);
    height: calc(100% - 118px);
    background: rgb(255, 255, 255);
}

.time-date {
    padding: 11px;
}

.btn-arrow-time {
    padding: 3px;
    font-size: 30px;
}

.calendar-dias {
    width: 100%;
    height: 100%;
}

.headerDia {
    padding: 5px;
    text-align: center;
    background: rgb(230, 252, 229);
    border: 0.5px solid rgb(255, 255, 255);
}

.itemDia {
    position: relative;
    border: 0.5px solid rgb(230, 252, 229);
    height: 144px;
}

.backgroundToday {
    background: #129c000a;
}

.dateToday {
    margin-top: 15px;
    border: 2px solid #129c00;
    padding: 3px;
    border-radius: 100%;
    background: #129c00;
}

.taskItem {
    font-size: 9px;
    background: azure;
    margin-bottom: 2px;
}

.countTask {
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-size: 9px;
    background: #dd0000;
    color: rgb(255, 255, 255);
    padding: 3px 3px 3px 2px;
    border-radius: 100%;
}

.container-listTask {
    position: fixed;
    z-index: 10;
    top: -10px;
    left: 0px;
    background: rgba(4, 37, 0, 0.635);
    width: 100%;
    height: calc(100% + 10px);
    padding: 10%;
}

.itemListTask {
    margin-top: 5px;
    border: 1px solid #cecece;
    border-left: 4px solid #129c00;
    padding: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.container-details {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #042500a2;
    z-index: 8;
}

.card-details {
    width: 95%;
    max-width: 1500px;
    height: min-content;
    max-height: 90%;
    margin: auto;
    margin-top: 2%;
}

.closeDetails {
    position: absolute;
    top: 8px;
    right: 10px;
}

.card-details-body {
    position: relative;
    overflow-y: auto;
}

.fechas-predeterminadas {
    display: inline-block;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}

.container-box {
    position: relative;
    border: 1px solid #0b6200;
    padding: 12px;
    border-radius: 5px;
    margin-top: 15px;
}

.title-box {
    position: absolute;
    top: -13px;
    left: 10px;
    background: #ffffff;
    font-weight: bold;
}

.status-task {
    font-size: 19px;
    font-style: italic;
    float: right;
}

@media screen and (max-width: 991px) {
    .taskNext {
        left: -250px;
        box-shadow: -2px 7px 3px 6px #c7c7c7;
    }

    .containerCalendar {
        left: 0px;
        width: 100%;
    }

    .time-date {
        padding-left: 60px;
    }
}

@media screen and (max-width: 400px) {
    .title-tasks {
        font-size: 17px;
        font-weight: 600;
    }

    .title-task {
        font-size: 14px;
    }

    .date-task {
        font-size: 12px;
    }

    .containerCalendar {
        font-size: 13px;
    }

    .todaybtn {
        font-size: 12px;
    }
}
