.taskNext {
    position: absolute;
    top: 58px;
    left: 0px;
    width: 245px;
    height: calc(100% - 58px);
    border-right: 1px solid rgb(182, 182, 182);
}


.title-tasks {
    text-align: center;
    padding: 13px 0px;
    padding-top: 13px;
    margin-bottom: 0px;
    box-shadow: -1px 0px 8px 0px rgb(182, 182, 182);
}

.container-task {
    overflow-y: auto;
    height: calc(100% - 87px);
}

.container-task-list {
    padding: 5px 10px;
    border-bottom: 1px solid rgb(189, 189, 189);
}

.date-task {
    font-size: 13px;
    font-style: italic;
    text-align: end;
    color: rgb(65, 65, 65);
}

.title-task {
    font-weight: 500;
}

.containerCalendar {
    position: absolute;
    top: 58px;
    left: 245px;
    width: calc(100% - 245px);
    height: calc(100% - 118px);
    background: rgb(255, 255, 255);
}

.time-date {
    padding: 11px;
}

.btn-arrow-time {
    padding: 3px;
    font-size: 30px;
}

.calendar-dias {
    width: 100%;
    height: 100%;
}

.itemDia {
    border: 0.5px solid rgb(230, 252, 229);
    height: 144px;
    /* border-left: 1px solid rgb(232, 248, 250); */
}
