:root{
    --dark:#16191c;
    --dark-x: #1e2126;
    --light: #ffffff;

}

.container-spinner {
    position: fixed;
    background: #ffffff83;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.spinner-general {
    width: 30px;
    height: 30px;
    margin-left: calc(50% - 15px);
    margin-top: calc(50% - 15px);
}

body{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: var(--light);

}

.bg-dark{
    background-color: var(--dark) !important;
}

.bg-dark-x{
    background-color: var(--dark-x);
}

.form-control, btn {
    min-height: 3.125rem;
    line-height: initial;
}
