.tree-second {
    margin-left: 8px;
    padding-left: 15px;
    border-left: 1px solid rgb(1, 149, 14);
}

.c-line-tree {
    position: relative;
}

.line-tree {
    position: absolute;
    height: 1px;
    width: 10px;
    top: 12px;
    left: -15px;
    /* background: rgb(1, 149, 14); */
}